.bold {
    font-weight: bold;
}

.user__region__main {
    position: relative;
    padding: 0.7em 0.2em 1em 1em;
}

.user__region__name {
    font-size: 0.9em;
}

.user__region__button {
    position: absolute;
    top: 1.5em;
    right: 2em;
    font-size: 0.9em;
    color: #8B8C96;
}