.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.header__start{
    height: 40px;
    line-height: 46px;
    width: 40px;
}
.header__hamburger{
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    color: black;
    padding: 0 0 0 12px;
}
.header__title{
    font-size: 23px;
    margin-left: 6px;
}

.header__center{
    width: 20%;
    text-align: center;
    min-width: 200px;
}

.header__end{
    height: 40px;
    line-height: 46px;
    width: 40px;
    font-size: 33px;
    padding-right: 3px;
}
.header__profile{
    padding-right: 5px;
}